:root {

    --primary-color: #6b4b3e;
    --font-color: #b377d4;
    --wild-color: #ec6d6a;
    --background-color: #FAE3C6;
    --radius: 15px;
    --font-size-defaut: 1rem;
    --font-family: 'Alegreya Sans', sans-serif;
    --font-family-H1: "Pirata One"
}


h1 {

    /* font-size: calc(2*var(--font-defaut-size)); */
    font-family: var(--font-family-H1);
    font-size: 2rem;
}

h2 {
    font-size: calc(1.5*var(--font-defaut-size));
    margin: 5px;
}

body {

    background-color: var(--background-color);
}

main {
    margin: 10px;
}

.form {
    max-width: 90px;
    margin: 0 auto 0 24px;
}

/*********************************************************/
/************************ en-tete ************************/
/*********************************************************/

header {
    /* border: 3px solid red; */
    border-radius: 0;
    position: sticky;
    top: 0;
    color: var(--wild-color);
}

.mask-head {
    background: var(--primary-color);
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid var(--wild-color); */
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

.logo-name {
    display: flex;
    align-items: center;
}

.logo-content {
    height: 12vh;
    ;
}

.wild {
    height: 100%;
    margin-left: 10px;
}


.bar-box {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--wild-color);
    border-radius: var(--radius);
    margin-right: 10px;
    background-color: transparent;
}

a {
    text-decoration: none;
}

.bar {
    width: 30px;
    border: 3px solid var(--wild-color);
    margin: 4px;
}

.smartphone {
    position: absolute;
    right: 5px;
    background: var(--primary-color);
    display: none;

}

.smartphone>ul>li {
    margin: 10px;
}

.desktop {
    display: none;
}

.desktop ul {
    display: flex;
    gap: 10px;
}

/*******************************************/
/**************** connexion ****************/
/*******************************************/

.conect-title {
    margin: 8px auto 8px 16px;
}

.form-connexion {
    max-width: 150px;
    margin: 0 auto 0 24px;
    display: none;
}
.connexion{
    display:flex;
    justify-content: center;
    align-items: last baseline;
}
label {
    display: block;
    margin-bottom: 8px;
}

input {
    margin-top: 4px;
    width: 150px;
}





/***********************************************************/
/************************ les Notions **********************/
/***********************************************************/

p {
    margin: 16px;
}

.thematique {
    margin-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary-color);
    border-radius: var(--radius);
    align-items: center;
}

.Title-notion {
    margin: 5px;
    margin-bottom: 0;
}

.theme-content {
    width: 100%;
}

nav {
    list-style-type: none;
    padding: 0;
    margin-top: 8px;
}

button {
    background-color: var(--primary-color);
    color: var(--background-color);
    /* border-radius: 15px ; */
    cursor: pointer;
    padding: 5px;
}


.theme-button {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.notion-theme {
    display: flex;
    background-color: var(--primary-color);
    /* padding-bottom: 10px;   */
    justify-items: center;
    border-radius: var(--radius);
    margin: 10px;
    margin-bottom: 0px;
    padding-bottom: 5px;

}

.notion-p {
    color: var(--background-color);
    padding: 5px;
    justify-self: center;
    /* display : inline */

}

.open-html {
    display: none;
    /* display: none; */
}

.open-css {
    display: none;
}

.open-js {
    display: none;
}

.test{
    font-size: 1rem;
}
.visible {
    display: block
}

.invisible {
    display: none;
}

/*********************************************************/
/*********************** les articles ********************/
/*********************************************************/


.article {
    margin-block: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--primary-color);
    border-radius: var(--radius);

}

.box-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
    text-align: justify;
}

.box-img {

    max-width: 480px;
    margin-inline: 16px;
    margin-bottom: 16px;

}


.img-art {
    border-radius: var(--radius);
    max-width: 100%;
}





/*********************************************************/
/***************** formulaire d'ajout ********************/
/*********************************************************/
.ads-form {
    margin-block: 10px;
    background-color: var(--primary-color);
    /* width: 90%; */
    margin: 0 16px;
    color: var(--wild-color);
    border-radius: var(--radius);
}

.ads-form-content {
    padding-top: 16px;
    margin: 16px;
}

.input-txt {
    margin: 16px;
    display: block;
    max-width: 200px;
}

#user,
#ads-title {
    width: 100%;
}

#ads-art {
    margin-top: 6px;
}

.end-ads {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}
textarea{
    resize: none;
}
.txt-area {
    margin: auto;
    width: 100%;
}

.ads-photo-lab {
    width: 150px;
}

#ads-photo {

    display: block;
    margin-bottom: 8px;
}


/*********************************************************/
/*********************** footer **************************/
/*********************************************************/

footer {
    position: sticky;
    bottom: 0;
    color: var(--wild-color);
}

.foot {
    display: flex;
    background-color: var(--primary-color);
    justify-content: space-between;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

a {
    margin: 8px;
    color: var(--wild-color);
}

/******************************************/
/*************** desktop ******************/
/******************************************/

@media (min-width:769px) {}